@import 'navigation';

body {
    background: $tertiary-color;
}

main {
    section:not(:first-child) {
        margin-top: 2rem;
    }
}

section {
	box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	border: 1px solid #ddd;
	padding: 0 1rem;
    margin: 1rem;
    background: white;
}