@import 'navigation';

body {
    background: $neutral-color;

    &.freeze {
        overflow: hidden;
    }
}

.site-wrapper {
    display: block;
}

main {
    background: $neutral-color;
    color: white;

    @include create-mq($breakpoint-lg) {
        position: relative;
        left: 300px;
        width: calc(100% - 300px);
        overflow-x: hidden;
    }

    h5 {
        margin: 3rem 0;
        font-style: italic;
    }

    section {
        padding: 0 1rem;
    }

    section:nth-child(even) {
        h2 {
            background: $tertiary-color;
        }
    }

    section#projects {
        .lightbox.visible {
            position: fixed;
            top: 0;
            left:0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.8);
            z-index: 200;
        }

        .row {
            background: $tertiary-color;
            border-radius: 0.5rem;
            padding: 1rem;
            margin: 3rem 0;
            position: relative;
            animation: 1s slideFromBottom;

            @keyframes slideFromBottom {
                from {
                    top: 100vh;
                }

                to {
                    top: 0vh;
                }
            }

            &:last-of-type {
                margin-bottom: 1rem;
            }

            @include create-mq($breakpoint-lg) {
                &:first-of-type {
                    margin-top: 1rem;
                }
            }
        }

        .project-content {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 0.5rem;
            height: calc(100% - 0.5rem);
            padding: 1rem;

            h4 {
                background: $tertiary-color;
                padding: 1rem;
                line-height: 1;
                text-align: center;
                border-radius: 0.5rem;
                margin-bottom: 2rem;
            }
        }

        img {
            cursor: pointer;

            &:not(.expand) {
                max-width: 100%;
                border-radius: 10px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            &.expand {
                max-width: 95%;
                max-height: 95%;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .image-caption {
            display:none;

            @include create-mq($breakpoint-sm) {
                display: block;
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }

    section#contact {
        .icon-wrapper {
            font-size: 4rem;
            display: flex;
            justify-content: space-evenly;
        }

        @include create-mq($breakpoint-md) {
            display: none;
        }
    }

    .mobile-only {
        margin: 1.5rem 0;

        @include create-mq($breakpoint-sm) {
            display: none;
        }
    }

    .vertical-align {
        margin: auto 0;
    }

    @include create-mq($breakpoint-sm) {
        .float-right {
            order: 99;
        }
    }
}