$menu-height: 5rem;

.header-spacer {
    width: 100%;
    height: $menu-height;

    @include create-mq($breakpoint-md) {
        display: none;
    }
}

span.anchor {
	position: relative;
	top: -$menu-height;
	visibility: hidden;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: $menu-height;
    z-index: 100;

    @include create-mq($breakpoint-md) {
        position: static;
    }

    @include create-mq($breakpoint-xl) {
        width: #{$breakpoint-xl}px;
        margin: 0 auto;
    }

    .logo {

        background: $secondary-color;
        padding: 0 1rem;

        @include create-mq($breakpoint-lg) {
            padding: 0 4rem;
        }

        .logo-text {
            font-size: 2.2rem;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-family: "Lucida Console", "Monaco", sans-serif;
            line-height: 2.2rem;
        }
    }

    nav#top-nav {
        height: 100%;

        i, svg {
            font-size: 2.8rem;
            cursor: pointer;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 2rem;
            color: black;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            width: 100%;
            top: $menu-height;
            left: 0;
            background: #111;
            z-index: 90;
            display: none;

            &.active {
                display: block;
                animation: open-menu 0.2s;
            }

            @keyframes open-menu {
                from {
                    left: 100vh;
                }

                to {
                    left: 0;
                }
            }

            li {
                text-align: center;
                padding: 1.5rem 0;
                font-size: 2.5rem;
                color: white;
                font-weight: 501;
                border-bottom: 1px solid #444;
                cursor: pointer;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        @include create-mq($breakpoint-md) {
            ul {
                display: none;
            }

            i, svg {
                display: none;
            }
        }
    }

    .header-icon-wrapper {
        display: none;

        @include create-mq($breakpoint-md) {
            display: flex;
            font-size: 3rem;
            align-items: center;
            padding: 0 2rem;

            a {
                color: black;
                margin: 0 2rem;
            }
        }
    }
}