$menu-height: 5rem;

.header-spacer {
    width: 100%;
    height: $menu-height;

    @include create-mq($breakpoint-md) {
        display: none;
    }
}

span.anchor {
	position: relative;
	top: -$menu-height;
	visibility: hidden;
}

aside {
    @include create-mq-max-width($breakpoint-lg)  {
        position: relative;
        animation-duration: 1s;
        animation-name: slideFromTop;

        @keyframes slideFromTop {
            from {
                top: -100vh;
            }

            to {
                top:0;
            }
        }
    }

    @include create-mq($breakpoint-lg) {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 300px;

        animation-duration: 1s;
        animation-name: slideFromLeft;

        @keyframes slideFromLeft {
            from {
                left: -400px;
            }

            to {
                left: 0;
            }
        }
    }

    .bio {
        padding: 2rem;
    
        p {
            font-size: 1.8rem;
            color: #fafaff
        }
    }

    .aside-content {
        display: flex;
        justify-content: center;

        .logo {    
            background: $primary-color;
            font-size: 2.2rem;
            color: black;
            text-align: left;
            text-transform: uppercase;
            font-family: "Lucida Console", "Monaco", sans-serif;
            padding: 0.5rem 2rem;
            display: inline-block;
        }
    }

    .icon-wrapper {
        background-color: $primary-color;
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-size: 3rem;
        padding: 1rem 0;

        a {
            color: black;
            height: 3rem;
        }

        @include create-mq($breakpoint-lg) {
            position: absolute;
            bottom: 0;
            font-size: 5rem;
            padding: 2rem 0;

            a {
                height: 5rem;
            }
        }
    }
}

header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: $menu-height;
    z-index: 100;

    @include create-mq($breakpoint-md) {
        position: static;
    }

    @include create-mq($breakpoint-xl) {
        width: #{$breakpoint-xl}px;
        margin: 0 auto;
    }

    .logo {

        background: $secondary-color;
        padding: 0 1rem;

        @include create-mq($breakpoint-lg) {
            padding: 0 4rem;
        }

        .logo-text {
            font-size: 2.2rem;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-family: "Lucida Console", "Monaco", sans-serif;
            line-height: 2.2rem;
        }
    }

    nav#top-nav {
        height: 100%;

        .bars {
            font-size: 2.8rem;
            cursor: pointer;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 2rem;
            color: black;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            width: 100%;
            top: $menu-height;
            left: 0;
            background: #111;
            z-index: 90;
            display: none;

            &.active {
                display: block;
                animation: open-menu 0.2s;
            }

            @keyframes open-menu {
                from {
                    left: 100vh;
                }

                to {
                    left: 0;
                }
            }

            li {
                text-align: center;
                padding: 1.5rem 0;
                font-size: 2.5rem;
                color: white;
                font-weight: 501;
                border-bottom: 1px solid #444;
                cursor: pointer;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        @include create-mq($breakpoint-md) {
            ul {
                display: none;
            }

            .bars {
                display: none;
            }
        }
    }

    .header-icon-wrapper {
        display: none;

        @include create-mq($breakpoint-md) {
            display: flex;
            font-size: 3rem;
            align-items: center;
            padding: 0 2rem;

            a {
                color: black;
                margin: 0 2rem;
            }
        }
    }
}