$menu-height: 5rem;

.header-spacer {
    width: 100%;
    height: $menu-height;
}

span.anchor {
	position: relative;
	top: -$menu-height;
	visibility: hidden;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: $menu-height;
    z-index: 100;

    .logo {

        background: $secondary-color;
        padding: 0 1rem;

        @include create-mq($breakpoint-lg) {
            padding: 0 4rem;
        }

        .logo-text {
            font-size: 2.2rem;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-family: Monaco;
            line-height: 2.2rem;
        }
    }

    nav#top-nav {
        height: 100%;

        i {
            font-size: 2.8rem;
            cursor: pointer;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 2rem;
            color: black;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            width: 100%;
            top: $menu-height;
            left: 0;
            background: #111;
            z-index: 90;
            display: none;

            &.active {
                display: block;
                animation: open-menu 0.2s;
            }

            @keyframes open-menu {
                from {
                    left: 100vh;
                }

                to {
                    left: 0;
                }
            }

            li {
                text-align: center;
                padding: 1.5rem 0;
                font-size: 2.5rem;
                color: white;
                font-weight: 501;
                border-bottom: 1px solid #444;
                cursor: pointer;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        @include create-mq($breakpoint-md) {
            ul {
                position: static;
                display: flex;
                visibility: visible !important;
                background: none;
                height: 100%;
                align-items: center;
                margin-right: 2rem;
                
                li {
                    margin-left: 4rem;
                    border: none;
                    color: $neutral-color;
                    
                     &:hover {
                         color: $secondary-color;
                     }
                }
            }

            i {
                display: none;
            }
        }
    }
}