@mixin button($color) {
    background: $color;
    color: #fff;
    
    &:hover {
        background: darken($color, 5%);
    }

    &:active {
        background: lighten($color, 5%);
    }

    &:hover:focus {
        background: $color;
    }
}

button, .button {
    display: block;
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    font-weight: 600;
    cursor: pointer;
    height: 5rem;
    max-width: 100%;

    &:active {
        position: relative;
        top: 1px;
    }

    &.fluid {
        width: 100%;
        padding: 0;
    }

    @include button($neutral-color);

    &.primary {
        @include button($primary-color);
    }

    &.secondary {
        @include button($secondary-color);
    }
}