a {
    text-decoration: none;
    font-weight: bold;
    color: $secondary-color;

    &:hover:not(.no-underline) {
        text-decoration: underline;
    }

    &:visited {
        color: $secondary-color;
    }

    &:active {
        color: darken($secondary-color, 10%);
    }
}