$link-color: $primary-color;

a {
    text-decoration: none;
    font-weight: bold;
    color: $link-color;

    &:hover:not(.no-underline) {
        text-decoration: underline;
    }

    &:visited {
        color: $link-color;
    }

    &:active {
        color: darken($link-color, 10%);
    }
}