<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Tim Bennett" />
    <meta charset="UTF-8" />
    <meta name="description" content="Personal website of Tim Bennett. You'll find information about me, projects I'm working on, and contact details." />
    <title>Tim Bennett | timmytango.com</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico"/>
    <link rel="stylesheet" href="./css/index.scss">
    <link rel="canonical" href="https://timmytango.com" />
</head>