$primary-color: #ffcc00;
$secondary-color: #cc0066;
$tertiary-color: #317f7f;

$neutral-color: #222;

$grid-cols: 12;

$breakpoint-sm: 576;
$breakpoint-md: 768;
$breakpoint-lg: 992;
$breakpoint-xl: 1200;
