$primary-color: #464159;
$secondary-color: #6c7b95;
$tertiary-color: #8bbabb;

$neutral-color: #444;

$grid-cols: 12;

$breakpoint-sm: 576;
$breakpoint-md: 768;
$breakpoint-lg: 992;
$breakpoint-xl: 1200;
